.msg-container {
    position: relative;
    border-radius: 5px;
    margin: 7.5px 0px;
    padding: 10px;
    width: 100%;
}

.light-msg-container {
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.dark-msg-container {
    background-color: var(--primary-dark-color);
    color: var(--font-color);
}

.dark-msg-container.sender {
    background-color: var(--ternary-color);
}

.light-msg-container.sender {
    background-color: var(--ternary-color);
}

.msg-user {
    position: relative;
    font-weight: bold;
}

.msg-user:hover {
    cursor: pointer;
}

.msg-user svg {
    color: var(--admin-color);
    margin-right: 5px;
}

.msg-tooltip {
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.msg-user {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.msg-user svg {
    margin-left: 5px;
}

.msg-text {
    margin: 10px 5px;
}

.msg-timestamp {
    font-size: 10px;
    opacity: 70%;
}