.authform-section {
    align-items: center;
    background-image: url('./img/backgroundColor.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
}