.authform-section {
	align-items: center;
	background-image: url('./img/backgroundColor.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--primary-color);
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	background-color: var(--secondary-color) !important;
	color: var(--secondary-auxiliary-color) !important;
	transition: background-color 5000s ease-in-out 0s;
}
