.authform-section {
    align-items: center;
    background-image: url('./img/backgroundColor.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
}

.authform-block {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 550px;
    padding: 50px;
    width: 50%;
}

/* End of general authform styles */
/* Styles of the authform header */

.authform-header {
    display: flex;
    color: white;
    flex-direction: column;
    flex: 1;
}

.authform-header h1 {
    font-size: 52px;
}

.authform-header h2 {
    margin-top: 10px;
    font-size: 32px;
}

/* End of the authform header styles */
/* Styles of the form */

.authform {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    position: relative;
    padding-left: 40px;
}

.authform h1 {
    color: var(--second-auxiliar-color);
    text-align: center;
    margin-bottom: 80px;
    font-size: 36px;
    width: 100%;
}

.authform-input {
    border-bottom: 1px solid var(--second-auxiliar-color);
    margin: 30px 0px;
    position: relative;
}

.authform-input input {
    border: none;
    background-color: transparent;
    color: var(--second-auxiliar-color);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: 100%;
}

.authform-input input:focus {
    outline: none;
}

.authform-input svg {
    color: var(--primary-color);
    font-size: 26px;
    top: 7px;
    position: absolute;
    right: 10px;
}

.authform-button-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.authform-button-panel button {
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: var(--second-auxiliar-color);
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    padding: 15px 40px;
    text-decoration: underline;
}

.authform-button-panel button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.authform-button-panel :not(button:first-of-type), button.submit-sign-up {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: var(--secondary-color);
    text-decoration: none;
}

.authform-button-panel :not(button:first-of-type):hover, button.submit-sign-up {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.authform-button-panel :not(button:first-of-type):active, button.submit-sign-up {
    box-shadow: none;
}
