.light-switcher-button,
.dark-switcher-button {
  font-size: 15px;
  align-self: auto;
  bottom: -43%;
  position: absolute;
  z-index: 1;
}

.light-switcher-button {
  right: 11.5%;
  transition: transform 0.3s ease;
}

.dark-switcher-button {
  transform: translateX(15px);
  transition: transform 0.3s ease;
}

.theme-switcher-container svg {
  color: var(--secondary-color);
}

.dark-switcher-button {
  color: var(--primary-color);
}
