.right-side {
    display: flex;
    flex-direction: column;
    /* width: 95%; */
    justify-content: flex-start;
    /* margin-left: 0.5rem; */
    margin-top: 3rem;
    gap: 2rem;
}

.right-side>div>h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}