.main-dashboard-tag {
margin-top: 16rem;
}

@media screen and (max-width: 768px) {
    .main-dashboard-tag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}