.explorer-container {
  position: relative;
  display: flex;
  height: 95vh;
  overflow-y: scroll;
}

.light-scroll::-webkit-scrollbar {
  background-color: var(--primary-color);
}

.light-scroll::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.light-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--ternary-color);
}

.dark-scroll::-webkit-scrollbar {
  background-color: var(--primary-dark-color);
}

.dark-scroll::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.dark-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-dark-color);
}

.options-panel {
  flex: 1;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.options-panel button {
  border-radius: 20px;
  margin: 0px 20px;
  padding: 12px 16px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.light-panel button.active {
  background-color: var(--ternary-color);
  transition: background-color 0.1s ease-in-out;
}

.light-panel button.active:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.1s ease-in-out;
}

.light-panel button:hover {
  background-color: var(--ternary-color);
}

.dark-panel button {
  background-color: var(--secondary-dark-color);
  transition: background-color 0.1s ease-in-out;
}

.dark-panel button:hover {
  background-color: var(--secondary-color);
}

.dark-panel button.active {
  background-color: var(--secondary-color);
  transition: background-color 0.1s ease-in-out;
}

.dark-panel button.active:hover {
  background-color: var(--secondary-dark-color);
  transition: background-color 0.1s ease-in-out;
}

.options-panel button:focus {
  outline: none;
}

.event-edit-view {
  flex: 4;
}

.event-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.light-button-panel button {
  color: var(--secondary-color);
}

.light-button-panel button:hover {
  color: var(--ternary-color);
}

.dark-button-panel button {
  color: var(--font-color);
}

.dark-button-panel button:hover {
  color: var(--secondary-color);
}

.event-button-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.event-button-panel button {
  border: none;
  background-color: transparent;
  transition: color 0.1s ease-in-out;
  font-size: 40px;
}

.event-button-panel button:hover {
  cursor: pointer
}

.event-card {
  flex: 3;
}

.event-grid {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  padding: 16px;
}

.event-grid .card-body {
  margin: 15px;
}

.event-grid .event-card-container {
  display: flex;
  justify-content: center;
}

.event-grid .event-card-container > * {
  width: 100%;
}

.menu-toggle-button {
  padding: 12px 16px;
  color: var(--font-color);
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .explorer-container {
    flex-direction: column;
  }

  .options-panel.visible {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid var(--secondary-color);
  }

  .event-grid {
    flex: 3;
    width: 100%;
  }
}
