section.dashboard-section {
    background: linear-gradient(106deg,
            #bda2e7 29%,
            var(--ternary-color) 51%,
            var(--secondary-color) 95%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dashboard-div {
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.30);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    gap: 10px;

}