.main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0.8rem;
}

.main-dashboard-title {
    padding-bottom: .7rem;
    padding-top: 2.1rem;
}

@media screen and (max-width: 1200px) {

    .main-dashboard {
        justify-content: flex-start;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 768px) {

    .main-dashboard {
        align-items: center
    }

}