
/* GENERAL NAV STYLES */

.navbar-body {
    display: flex;
    font-size: 20px;
    width: 100%;
}

.navbar-light {
    background-color: var(--secondary-color);
    color: var(--font-color);
    transition: background-color 0.3s ease-in-out;
}

.navbar-dark {
    background-color: var(--secondary-dark-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease-in-out;
}

.navbar-dark .navbar-button-panel div svg {
    color: var(--secondary-color);
    transition: background-color 0.3s ease-in-out;
}

.navbar-body div svg {
    margin-right: 10px;
}

/* END OF GENERAL NAV STYLES */
/* LEFT SIDE NAV STYLES */

.navbar-button-panel {
    display: flex;
    flex: 1;
    position: relative;
}

.navbar-button-panel div:not(.general-section-bottom div svg) {
    display: flex;
    align-items: center;
}

.navbar-button-panel div, div.navbar-add-event {
    padding: 15px;
}

div.active-light {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s ease-in-out;
}

div.active-dark {
    background-color: var(--primary-dark-color);
    transition: background-color 0.3s ease-in-out;
}

/* END OF LEFT SIDE NAV STYLES */
/* CREATE EVENT STYLES */

.navbar-body .navbar-add-event {
    align-self: flex-end;
}

.navbar-add-event {
    background-color: var(--ternary-color);
    display: flex;
    justify-content: center;
}

/* END OF CREATE EVENT STYLES */

.general-section-bottom {
    align-self: flex-end;
    top: 0%;
    bottom: 5%;
    right: 0%;
    position: absolute;
    display: flex;
}


@media screen and (max-width: 870px) {
    .navbar-button-panel span.bannish {
        display: none;
    }

    .navbar-button-panel {
        justify-items: center;
    }
}